<header class="site-header">

  <div class="wrapper custom-header">

    <a class="site-title" href="{{ '/' | relative_url }}">
      Naz Mohammed Agh-Atabay
    </a>

    <nav class="site-nav custom-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/research/' | relative_url }}">Research</a>
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
      <a href="{{ '/teaching/' | relative_url }}">Teaching</a>
      <a href="{{ '/interests/' | relative_url }}">Interests</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>
    </nav>

  </div>

</header>
